*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.account-container{
    position: relative;
    cursor: pointer;
}

.account{
    position: absolute;
    border: 1px solid grey;
    padding: 0.5rem;
    border-radius: 5px;
    right: 0px;
    background-color: #fff;
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

p{
    font-size: 1.2vmax;
}